.footer {
    width: 100%;
    height: 30vh;
    background-color: #404040;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
}

.footer>div {
    margin: 1em;
    padding: 2em;
}